@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.user-img {
  width: 2em;
  margin: -1em .5em -1em 0;
  border: 1px transparent;
  border-radius: 100px;
}

.dropdown-menu.show {
  margin-left: 1em;
  background-color: #f8f9fa;
  margin-top: .46em;
}

.dropdown-menu.show .nav-link {
  color: black;
  height: 2em;
  text-align: center;
  margin-top: -1em;
  line-height: 2em;
}

.user-menu {
  margin-left: auto;
  margin-right: 1em;
}

.item-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 5em 0 5em;
}

.item-details-img {
  width: 10em;
}